<%- include('partials/header.ejs')  -%>

<h1> THIS IS HOME PAGE</h1>
<p> <%= Homepage %></p>
<div>
<h2></h2>
</div>


<% arrObj.forEach(function(data){ %>
<h1> <%= data.key %></h1>
<p> <%= data.value.substring(0, 100) + "..." %> 
<a href="/post/<%= data.key %>">Read More!</a></p>
<% }) %>



<%- include('partials/footer.ejs') -%>